
@media(max-width:576px){}
@media(max-width:768px){}
@media(max-width:992px){}
@media(max-width:1200px){}


body{
    display: flex;
    width:1440px;
    flex-direction: column;
    align-items: center;
    background:var(--base-white,#fff);
    padding: auto;
    margin: auto;
    width: 1280px;
    : none;
}
.navbar {
    display: flex;
    width: 1280px;
    height: 80px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 32px;
    
}
nav{   
    display: flex;
    width: 1280px;
    padding: 0px 32px;
    justify-content: space-between;
    align-items: center;
}
ul{
    display: flex;
    align-items: center;
    gap: 32px; 
    list-style: none;
    color:rgba(102, 112, 133, 1);
}
.navbar h2{
    position:relative;
    color: #3A404E;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    right:150px;
}
.buttonEntrar{
    display: flex;
    position: relative;
    background-color: #fff;
    color: var(--gray-500,#667085);
    font-family:Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    border:none;
    left: 150px;
}
.buttonNav{
    display: flex;
    padding: 10px 18px;
    justify-content: center;
    align-items: center;
    gap:8px; 
    border-radius: 8px;
    border: 1px solid #8e2424;
    background-color: #8e2424;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    color: #fff;
    font-family: inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}
.cabecalho{
    display: flex;
    height: 407px;
    padding: 96px 0px;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    align-self: stretch;
    background-color: #fff;
}
.cabecalho h3{
   display: flex;
    color: #8e2424;
    font-family: inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
}
.cabecalho h1{
    display: flex;
    width: 603px;
    flex-direction: column;
    align-items: center;
    color: var(--gray-900, #101828);
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 60px;
    letter-spacing: -0.96px;
}
.cabecalho h2{
    display: flex;
    width: 791px;
    flex-direction: column;
    color: var(--gray-500, #667085);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;    
}
.metricas{
    display: flex;
    padding-bottom: 0px;
    flex-direction: column;
    align-items: center;
    gap: 64px;
    align-self: stretch;
}
.containermetricas{
    display: flex;
    align-items:flex-start;
    gap: 32px;
    align-self: stretch;
    
}
.number1 h1{
    color: #8E2424;
    font-family: Inter;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 72px;
    letter-spacing: -1.2px;
}
.number1 h4{
    color: var(--gray-900, #101828);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
}
.number1 p{
    color: var(--gray-500, #667085);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;    
}
.number2 h1{
    color: #8E2424;
    font-family: Inter;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 72px;
    letter-spacing: -1.2px;
}
.number2 h4{
    color: var(--gray-900, #101828);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
}
.number2 p{
    color: var(--gray-500, #667085);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;    
}
.number3 h1{
    color: #8E2424;
    font-family: Inter;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 72px;
    letter-spacing: -1.2px;
}
.number3 h4{
    color: var(--gray-900, #101828);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
}
.number3 p{
    color: var(--gray-500, #667085);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;   
}
.number4 h1{
    color: #8E2424;
    font-family: Inter;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 72px;
    letter-spacing: -1.2px;
}
.number4 h4{
    color: var(--gray-900, #101828);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
}
.number4 p{
    color: var(--gray-500, #667085);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;   
}
.vagas{
    display: flex;
    padding: 96px 0px;
    flex-direction: column;
    align-items: center;
    gap: 64px;
    align-self: stretch;
}
.vagasabertas{
    display: flex;
    padding: 4px 12px;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    background: rgba(142, 36, 36, 0.05);
    width: 101px;
    height: 20px;
    
}
.vagasabertas h4{
    color: #8E2424;
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}
.vagas h1{
    display: flex;
    flex-direction: column;
    align-self: stretch;
    color: var(--gray-900, #101828);
    text-align: center;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 44px;
    letter-spacing: -0.72px;
}
.vagas h2{
    display: flex;
    flex-direction: column;
    align-self: stretch;
    color: var(--gray-500, #667085);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.vagas img{
    width: 1216px;
    height: 400px;
    flex-shrink: 0;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}
.container-design{
    display: flex;
    width: 1280px;
    padding: 0px 32px;
    flex-direction: column;
    align-items: center;
    gap: 64px;
}
.productDesigner {
    display: flex;
    width: 768px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
}
.productDesigner h2{
    display: flex;
    flex-direction: column;
    align-self: stretch;
    color: var(--gray-900, #101828);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
}
.quadro1{
    display: flex;
    padding: 24px 24px 28px 24px;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    align-self: stretch;
    border-radius: 16px;
    border: 1px solid var(--gray-200, #EAECF0);
    background: var(--base-white, #FFF);
}
.quadro1 h3{
    display: flex;
    flex-direction: column;
    align-self: stretch;
    color: var(--gray-900, #101828);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
}
.quadro1 ul{
    display: flex;
    align-items: center;
    gap: 24px;
    align-self: stretch;
}
.quadro1 li{
    color: var(--gray-500, #667085);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}
.quadro2{
    display: flex;
    padding: 24px 24px 28px 24px;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    align-self: stretch;
    border-radius: 16px;
    border: 1px solid var(--gray-200, #EAECF0);
    background: var(--base-white, #FFF);
}
.quadro2 h3{
    display: flex;
    flex-direction: column;
    align-self: stretch;
    color: var(--gray-900, #101828);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    width:720px ;
    height:28px ;
}
.quadro2 ul{
    display: flex;
    align-items: center;
    gap: 24px;
    align-self: stretch;
}
.quadro2 li{
    color: var(--gray-500, #667085);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.containerDevweb{
    display: flex;
    width: 1280px;
    padding: 0px 32px;
    flex-direction: column;
    align-items: center;
    gap: 64px;
}
.devweb{
    display: flex;
        width: 1280px;
        padding: 0px 32px;
        flex-direction: column;
        align-items: center;
        gap: 64px;
        width: 768px;
        height: 30px;
}
.devweb h2{
    display: flex;
    flex-direction: column;
    align-self: stretch;
    color: var(--gray-900, #101828);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;

}
.desenvolvedorIos{
    display: flex;
    padding: 24px 24px 28px 24px;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    align-self: stretch;
    border-radius: 16px;
    border: 1px solid var(--gray-200, #EAECF0);
    background: var(--base-white, #FFF);
}
.desenvolvedorIos h3{
    display: flex;
    flex-direction: column;
    align-self: stretch;
    color: var(--gray-900, #101828);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    width:720px ;
    height:28px ;
}
.desenvolvedorIos ul{
    display: flex;
    align-items: center;
    gap: 24px;
    align-self: stretch;
}
.desenvolvedorIos li{
    color: var(--gray-500, #667085);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}
.desenvolvedorfront-end{
    display: flex;
    padding: 24px 24px 28px 24px;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    align-self: stretch;
    border-radius: 16px;
    border: 1px solid var(--gray-200, #EAECF0);
    background: var(--base-white, #FFF);
}
.desenvolvedorfront-end h3{
    display: flex;
    flex-direction: column;
    align-self: stretch;
    color: var(--gray-900, #101828);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    width:720px ;
    height:28px ;
}
.desenvolvedorfront-end ul{
    display: flex;
    align-items: center;
    gap: 24px;
    align-self: stretch;
}
.desenvolvedorfront-end li{
    color: var(--gray-500, #667085);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}
.desenvolvedorback-end{
    display: flex;
    padding: 24px 24px 28px 24px;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    align-self: stretch;
    border-radius: 16px;
    border: 1px solid var(--gray-200, #EAECF0);
    background: var(--base-white, #FFF);
}
.desenvolvedorback-end h3{
    display: flex;
    flex-direction: column;
    align-self: stretch;
    color: var(--gray-900, #101828);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    width:720px ;
    height:28px ;
}
.desenvolvedorback-end ul{
    display: flex;
    align-items: center;
    gap: 24px;
    align-self: stretch;
}
.desenvolvedorback-end li{
    color: var(--gray-500, #667085);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}
.containercolaboradores{
    display: flex;
    position: relative;
    padding: 64px;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    align-self: stretch;
    border-radius: 16px;
    background: rgba(195, 25, 25, 0.03);
    top: 900px;
}
.colaboradoresinfo h3{
    color: #8E2424;
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    display: flex;
    flex-direction: column;
    align-self: stretch;
}
.colaboradoresinfo h1{
    display: flex;
    width: 1088px;
    flex-direction: column;
    color: #101828;
    text-align: center;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 44px;
    letter-spacing: -0.72px;
}
.colaborador img{
    position: relative;
    display: flex;
width: 56px;
height: 56px;
flex-direction: column;
justify-content: center;
align-items: center;
border-radius: 200px;
background: url(<path-to-image>), lightgray 50% / cover no-repeat;
left: 40px;
}
.colaborador h3{
    display: flex;
flex-direction: column;
align-self: stretch;
color: var(--gray-900, #101828);
text-align: center;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px;

}
.colaborador h5{
    display: flex;
flex-direction: column;
align-self: stretch;
color: var(--gray-500, #667085);
text-align: center;
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px;
}
.container-footer{
    position: relative;
    display: flex;
    height: 430px;
    padding: 96px 0px;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    align-self: stretch;
    background: var(--gray-50, #F9FAFB);
    width: 1800px;
    top: 1000px;
}
.container-footer h1{
    display: flex;
flex-direction: column;
align-self: stretch;
color: var(--gray-900, #101828);
text-align: center;
font-family: Inter;
font-size: 36px;
font-style: normal;
font-weight: 600;
line-height: 44px;
letter-spacing: -0.72px;
}
.container-footer h3{
    display: flex;
    flex-direction: column;
    align-self: stretch;
    color: var(--gray-500, #667085);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.container-footer input{
    display: flex;
    position: relative;
padding: 12px 14px 12px 16px;
align-items: center;
gap: 8px;
align-self: stretch;
border-radius: 8px;
border: 1px solid #D0D5DD;
background: var(--base-white, #FFF);
box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
width: 330px;
height:24px;
left: 680px;
}
.button-footer{
    display: flex;
    position: relative;
padding: 12px 20px;
justify-content: center;
align-items: center;
gap: 8px;
border-radius: 8px;
border: 1px solid #8E2424;
background: #8E2424;
box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
color: #fff;
width: 116px;
height: 48px;
left: 190px;
bottom:80px;
}
.container-footer input ::placeholder{
    color: var(--gray-500, #667085);
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px;
}
.creditos p{
    position: relative;
    display: flex;
    color: var(--gray-400, #98A2B3);
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px;
top: 900px;
left:700px;
}

































